div {
	border-style: solid;
	border-color: rgb(247,245,201);
	width: 250px;
	height:100px;
	background-color: rgb(247,245,201);
	
}



input#button{
	border-bottom: 1px solid;
	margin-top: 50px;
	margin-left: 10px;
	background: black;
	color: white;
	border: 0px;
	width: 80px;
	height: 3em;
	text-transform: uppercase;
	font-family: sans-serif;
	border-radius: 5px;
	cursor:pointer;
	
}

input#amount{
	width: 35px;
	height:30px;
	border-radius: 5px;
	border-style: solid;
	border-color: white;
	text-align: center;
}
input#click1 {
	position:relative;
	left:17px;
	border-style: solid;
	border-color: white;
	border-radius: 5px;
	background: white;
	color: rgb(247,245,223);
	cursor:pointer;
}
input#click2 {
	position:relative;
	right:17px;
	border-style: solid;
	border-color: white;
	border-radius: 5px;
	background: white;
	color: rgb(247,245,223);
	cursor:pointer;
}
input{
	margin:5px;
}












